__pycache__/
*.pyc

.venv/
venv/
env/

.env

# build / packaging
dist/
build/
*.egg-info/
.eggs/

# uv / python tooling
uv.lock
.uv/
.pytest_cache/

# reports / outputs
reports/
*.json
*.html

# playwright
playwright-report/

# IDEs
.vscode/
.idea/